header {
  border: 10px solid lightblue;
  background-color: blue;
  padding:1px;
  background-clip: content-box;
  color: white;
  margin: 1px;
}
main{
    border: 10px solid lightgray;
  background-color: rgb(180, 180, 182);
  padding:1px;
  background-clip: content-box;
  color: black;
  margin: 1px;
}

nav{  
    border: 10px solid lightgray;
  background-color: orange;
  padding:1px;
  background-clip: content-box;
  color: white;
  margin: 1px;
}


