header {
  border: 10px solid lightblue;
  background-color: blue;
  padding:10px;
  background-clip: content-box;
  color: white;
  margin: 10px;
}
main{
  border: 10px solid lightgray;
  background-color: rgb(79, 79, 80);
  padding:10px;
  background-clip: content-box;
  color: black;
  margin: 10px;
}

nav{  
    border: 10px solid lightgray;
  background-color: rgb(226, 153, 17);
  padding:10px;
  background-clip: content-box;
  color: white;
  margin: 10px;
}

section{  
    border: 10px solid lightgray;
  background-color: yellow;
  padding:10px;
  background-clip: content-box;
  color: black;
  margin: 10px;
}
article{ 
  border: 5px dotted red;
  background-color: pink;
  padding:5px;
  background-clip: content-box;
  color: white;
  margin: 20px;
}

aside{ 
  border: 10px solid lightgray;
  background-color: rgb(173, 46, 173);
  padding:10px;
  background-clip: content-box;
  color: white;
  margin: 10px;
}

footer{ 
  border: 10px solid lightgray;
  background-color: black;
  padding:10px;
  background-clip: content-box;
  color: white;
  margin: 10px;
}

